<div class="flex-col app-container">
  <div class="flex h-[68px] nav-container">
    <div class="max-md:w-0 max-md:grow grow"></div>
    <!-- <div class="max-sm:grow max-md:grow max-md:w-[768px] w-[768px] m-4 flex justify-between"> -->
    <div class="max-sm:grow max-md:grow max-md:w-[1080px] w-[1080px] m-4 flex justify-between">
      <div class="flex gap-x-2">
        @if(!userService.roles().includes("ADMIN")) {
          <a mat-button routerLink="/">
            <mat-icon svgIcon="register-l" class="white-icon" aria-hidden="false" aria-label="xyz"></mat-icon>
            Home
          </a>
        }
        @if(!userService.user()) {
          <a mat-button routerLink="login">
            <mat-icon svgIcon="login-l" class="white-icon" aria-hidden="false" aria-label="xyz"></mat-icon>
            Logon
          </a>
          <a mat-button routerLink="register">
            <mat-icon svgIcon="register-l" class="white-icon" aria-hidden="false" aria-label="xyz"></mat-icon>
            Register
          </a>
        }
        @if(userService.user() && !userService.roles().includes("ADMIN")) {
          <a mat-button routerLink="auction">
            <mat-icon svgIcon="active-auction-l" class="white-icon" aria-hidden="false" aria-label="xyz"></mat-icon>
            Active Auction
          </a>
        }
        @if(!userService.roles().includes("ADMIN") && userService.user() && !userStore.bidderHasFunds()) {
          <a mat-button routerLink="claim-deposit">
            <mat-icon svgIcon="deposit-money-l" class="white-icon" aria-hidden="false" aria-label="xyz"></mat-icon>
            Claim Deposit
          </a>
        }
        <!-- {{displayMyNfts()}}
        {{ "||" }}
        {{userStore.displayMyNfts()}} -->
        @if(displayMyNfts() || userStore.displayMyNfts()) {
          <a mat-button routerLink="my-nfts">
            <mat-icon svgIcon="nfts-l" class="white-icon" aria-hidden="false" aria-label="xyz"></mat-icon>
            My NFTs
          </a>
        }
          <!-- Place bid -->
          <!-- Conclude auction admin -->
        <!--<a>Start auction</a> admin-->
        <!--<a>Mint nfts</a> admin-->
        <!-- <a>Claim deposit</a> -->
        <!-- <a>NFTs</a> -->
      </div>
      <div>
        @if(userService.user()) {
          <button mat-flat-button color="secondary" (click)="onLogOff()" class="max-w-[120px]">
            <mat-icon svgIcon="logout-l" class="white-icon" aria-hidden="false" aria-label="xyz"></mat-icon>
            Log out
          </button>
        }
      </div>
    </div>
    <div class="max-md:w-0 max-md:grow grow">
      <!-- <div style="background-color: orange;">
        {{ "userStore.bidderHasFunds():\t\t\t" + userStore.bidderHasFunds() }}
        <br>
        {{ "userService.roles().includes('ADMIN'):\t\t\t" + userService.roles().includes("ADMIN") }}
        <br>
        {{ "userService.user():\t\t\t" + (userService.user() | json) }}
        <br>
        {{ "T/F?\t\t\t" + (userService.user() && !userService.roles().includes("ADMIN") && !userStore.bidderHasFunds()) }}
      </div>
      <div style="background-color: hotpink;">
        {{ "displayMyNfts():\t\t\t" + displayMyNfts() }}
        <br>
        {{ "userStore.displayMyNfts():\t\t\t" + userStore.displayMyNfts() }}
        <br>
        {{ "T/F?\t\t\t" + (displayMyNfts() || userStore.displayMyNfts()) }}
      </div> -->
    </div>
  </div>

  <!-- <div class="bg-slate-300">
    <div>user: {{ userService.user() | json }}</div>
    <div>roles: {{ userService.roles().includes("ADMIN") }}</div>
    <div>bidderHasFunds: {{ userStore.bidderHasFunds() }}</div>
  </div> -->

  <!-- <div class="flex h-[calc(100vh-128px)]"> -->
  <div class="flex content">
    <div class="max-md:w-0 max-md:grow grow"></div>
    <!-- <div class="max-sm:grow max-md:grow max-md:w-[736px] w-[736px] m-4 bg-pink-300"> -->
    <div class="max-sm:grow max-md:grow max-md:w-[1080px] w-[1080px] max-sm:ml-0 max-sm:mr-0 m-4">
      <router-outlet></router-outlet>
    </div>
    <div class="max-md:w-0 max-md:grow grow"></div>
  </div>

  <div class="flex footer-container">
    <div class="max-md:w-0 max-md:grow grow bg-red-300"></div>
    <div class="max-sm:grow max-md:grow max-md:w-[768px] w-[768px] m-4 bg-green-300">Some footer content</div>
    <div class="max-md:w-0 max-md:grow grow bg-red-300"></div>
  </div>
</div>

<!-- {{"auctionStore.auctionStarted()"}}
{{auctionStore.auctionStarted()}}
{{mySignal()}}

{{ auctionStore.activeAuction() | json }} -->

<!-- <div class="fixed bottom-0 right-0">
  <button (click)="reportIssue()" class="bg-blue-500 p-1 rounded-tl-lg text-white">Report a bug</button>
</div> -->