.blur-background {
    backdrop-filter: blur(25px);
/* box-shadow: inset 0px 0px 10px 10px white; */
}

.img-background {
    background-image: url("../../assets/imgs/purple-line-bg-horizontal.jpg");
    position: relative;
    left: 50px;
}

/* Parent container for each pair of divs */
.container {
    position: relative;
    width: 300px;
    height: 300px;
    /*margin: 20px; /* Optional: margin to separate the containers */
  }
  
  /* Background image div */
  .background-image-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/imgs/purple-line-bg-horizontal.jpg');
    background-image: url('../../assets/imgs/white-square-1.png');
    background-image: url('../../assets/imgs/white-square.png'); */
    /* background: radial-gradient(circle, rgba(221,221,221,0.528470763305322) 0%, rgba(255,255,255,0) 100%); */
    /* background: radial-gradient(circle, rgba(100,0,255,0.8702074579831933) 18%, rgba(255,255,255,0) 53%); */
    background: radial-gradient(circle, rgba(100,0,255,0.66) 4%, rgba(255,255,255,0) 90%);
    background-size: cover;
    background-position: center;
  }
  
  .background-image-div:hover, 
  .blurred-div:hover {
    background: radial-gradient(circle, rgba(100,0,255,0.33) 100%, rgba(255,255,255,0) 100%);
    /* background: radial-gradient(circle, rgba(162, 100, 255, 0) 4%, rgba(255,255,255,0) 90%); */
  }
  
  /* Blurred div */
  .blurred-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); Semi-transparent */
    /* backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(20px); */
    backdrop-filter: blur(13px);
  }

  .white-icon {
    color: orangered;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
    fill: orangered;
}