<div class="flex flex-row gap-2 mb-3 p-4 bg-white shadow-md">
    <div class="flex flex-col justify-center ml-2">
        <p>{{nft().id}}</p>
    </div>
    <!-- <div class="flex items-center w-1/6"> -->
    <!-- tailwind forces max-width 100% on img if placed in div element -->
    <img src="{{nft().image}}" class="w-[128px] h-[129px]">
    <!-- </div> -->
    <div class="flex ml-2 max-md:w-5/6 w-4/6">
        <p>{{nft().description}}</p>
    </div>
    <p class="max-md:w-1/6 w-2/6">{{"Home For Young Coders"}}</p>
</div>

<!-- <div class="flex flex-row gap-2 mb-3 p-4 bg-white shadow-md">
    <div class="flex flex-col justify-center ml-2">
        <p>{{nft().id}}</p>
    </div>
    <img src="{{nft().image}}" class="max-w-32 max-sm:w-2/6 max-md:w-2/6 w-1/6">
    <div class="flex ml-2 max-sm:w-3/6 max-md:w-3/6 w-4/6">
        <p>{{nft().description}}</p>
    </div>
    <p class="max-sm:w-1/6 max-md:w-1/6 w-1/6">{{"Home For Young Coders"}}</p>
</div> -->